
body{
    margin: 0;
    font-size: 1.5rem;
}

header{
    background-color: #f0f1ef;
    color: rgb(148, 20, 20);
    display: inline-block;
    width: 100%;
    text-align: center;
}
main{
    background-color: bisque;
     width: 100%;
}

nav{
    text-align: center;
    background-color: pink;
    padding: 10px;
}

nav a{
      margin: 30px;
      text-decoration: none;
      color: #000;
      font-weight: bold;
}
.green{
    text-align: center;
    color: rgb(30, 29, 31);
    margin-left: 20px;
    
}
img{
    margin: 40px;
}

table, tr, th, td, caption{

    margin: 5px;
    border: 1px solid rgb(36, 33, 33); 
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 10px;
}

a{
      margin: 30px;
      text-decoration:double;
      color: #000;
      font-weight: bold;
}

p{
    margin-left: 20px;
}
footer{
    background-color: lightseagreen;
    padding: 20px;
    display: inline-block;
    width: 100%;
}