
body{
    background-color: rgba(232, 128, 194, 0.914);
    color: rgb(255,255,255);
    font-size: 1.5rem; 
}

header{
    background-color: #f0f1ef;
    color: rgb(148, 20, 20);
    border:2px dotted green;
    text-align: center;
}

nav{
    font-size: larger;
    border: 3px double white;
    width: 15%;
}

.green{
 color: green;
}

#purple{
    color: purple;
}
table, tr, th, td, caption{
    border: 1px solid white; 
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 10px;
}

