*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 2px double blue;
   /* border-top-width: 10px;
    border-top-color: brown;
    border-right:2px solid red;*/
    font-size: 1.5rem;
    padding: 1.5em;
    margin: 1.5em;
   /* margin-top: 1em;
    margin-right: 4em;
    margin-left: 4em; 
    padding: 0.5em 1em 2em 3em;
    margin: 1em 2em 3em 4em;
     outline: 5px solid brown ;
    outline-offset: 2px;*/
}

.circle{
    border: 10px solid grey;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 2em auto;
    background-color: brown;
    outline: 5px solid black;
    outline-offset: 10px;
}