body{
    padding: 10%;
    font-size: 1rem;
}

input, button{
font-size: inherit;
}

p{
   text-indent: 1em;
   text-align: justify;
   line-height: 1.5;
   letter-spacing: 0.2em;
   font-weight: 900;
   font-style: oblique;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
