h1{
    text-align: center;
    margin:30px ;
    padding: 10px;
    background-color: rgb(194, 116, 21);
    color: rgb(0, 0, 0);
}

body{
    background-color: antiquewhite;
}

.heading{
   color: red;
}

.Caps{
    color: brown ;
}

.paragraph{
    color: blue;
}

.menu{
    color: rgb(166, 40, 40);
}

table,tr,th,td, caption{
    border: 1px solid rgb(16, 15, 15);
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 10px;
}